PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecret_ecommerce_key_change_in_production
NODE_ENV=development

# Optional Cloudinary Configuration for Image Uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
